* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

li {
  list-style-type: none;
}

button {
  display: flex;
  align-items: center;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 20px 20px;
  padding: 8px 22px;
  background: white;

  cursor: pointer;
  transition: 0.1s;

  &:hover {
    background: #f1f1f1;
  }
}
