* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

button {
  font-weight: 600;
  border: 1px solid purple;
  color: #a65da6;
  border-radius: 5px;
  padding: 10px;
  background: midnightblue;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 5px purple;
    color: deeppink;
    text-shadow: 0 0 5px purple;
    border: 1px solid deeppink;
  }
}
